/* @import './base.css'; */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (max-width:1024px) {
  #outputLangGrid {
    right:20px;
  }

  #app {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {

  #text-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .textarea{
    margin:0px 2px 2px 2px!important;
  }
  
  .swapLangBtn{
    float:right; 
    margin-right:-50px;
    font-weight: bold;
  }

  .lang-settings{
    width:48%;
  }

  select,
  input,
  textarea {
    width: 50%;
    max-width:600px;
  }

}


#translate{
  float:right;
  color: white;
  background-color: blueviolet;
  margin: 10px 0px 0px 0px;
  width:200px;
}

body {
  display: flex;
  place-items: center;
}

#sliderBox {
  width: 200px;
  height:40px;
  background-color:rgb(245, 239, 248);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:rgb(163, 123, 199);
  border:1px solid rgb(205, 195, 214);
  border-radius: 10px;
  margin-bottom: 40px;
}

#sliderBox>div {
  text-align:center;
	align-items: center;
  line-height:2.7;
  font-weight: 600;
  font-size: 15px;
}

#slider{
  position:absolute;
  border-radius: 7px;
  background-color: white;
  color:blueviolet;
  height:32px;
  width:96px;
  margin: 3px;
  box-shadow: 0px 0px 6px #c4a9ca;
  border:1 px solid blueviolet;
  line-height: 1;
  cursor: pointer;
}

.optionArrow {
  float:left
}

#settingsIcon {
  float:right;
}

.iconButton {
  color:rgb(113, 113, 113);
  border-radius: 18px;
  height:35px;
  width:35px;
  text-align: center;
  line-height:2.1;
  margin:6px;
  cursor: pointer;
}

.iconButton:hover {
  background-color: rgb(232, 232, 232);
}



button {
  margin: 10px;
  width: 200px;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}