/* @import './base.css'; */

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  } */
  #text-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .textarea{
    margin:0px 2px 2px 2px!important;
  }
  
  .langInput{
    margin: 0px 0px 0px 8px!important;
  } 
  
  .swapLangBtn{
    float:right; 
    margin-right:-50px;
    font-weight: bold;
  }

  .lang-settings{
    width:480px;
  }
}

.langInput{
  /* width:400px; */
  border-radius: 0px;
  margin:5px;
  float:left;
} 

.langInput > .btn{
  background-color:white;
  color:rgb(113, 113, 113);
  font-weight: 600;
  font-size: 14px;
  margin: 0px !important;
  border:0px;
  border-radius: 0px!important;
  width:fit-content;
  padding:8px 16px 14px 16px;
}

.langInput > .btn:hover{
  background-color:rgb(245, 239, 248);
  color:blueviolet;
  margin: 0px !important;
  border-radius: 0px!important;
}

.textarea{
  margin:5px;
  min-height:200px!important;
  overflow-y: auto!important;
}

.textarea:focus {
  border: 1px solid rgb(228, 23, 255);
  box-shadow: 0 0 5px rgb(48, 204, 0);
  outline: none;
}

#outputtext{
  background-color:#f3f3f3;
}

#translate{
  float:right;
  color: white;
  background-color: blueviolet;
  margin: 10px 0px 0px 0px;
}

body {
  display: flex;
  place-items: center;
}

#sliderBox {
  width: 200px;
  height:40px;
  background-color:rgb(245, 239, 248);
  display: grid;
  grid-template-columns: 1fr 1fr;
  color:rgb(163, 123, 199);
  border:1px solid rgb(205, 195, 214);
  border-radius: 10px;
  margin-bottom: 40px;
}

#sliderBox>div{
  /* display: flex; */
  text-align:center;
	align-items: center;
  line-height:2.7;
  font-weight: 600;
  font-size: 15px;
}

#slider{
  position:absolute;
  border-radius: 7px;
  background-color: white;
  color:blueviolet;
  height:32px;
  width:96px;
  margin: 3px;
  box-shadow: 0px 0px 6px #c4a9ca;
  border:1 px solid blueviolet;
  line-height: 1;
  cursor: pointer;
}

.optionArrow {
  float:left
}

#settingsIcon{
  float:right;
}

.iconButton{
  color:rgb(113, 113, 113);
  border-radius: 18px;
  height:35px;
  width:35px;
  text-align: center;
  line-height:2.1;
  margin:6px;
  cursor: pointer;
}

.iconButton:hover{
  background-color: rgb(232, 232, 232);
}


.grid-container {
  position: absolute;
  width: 550px;
  background-color: white;
  padding:10px 20px 20px 20px;
  border-radius:5px;/* Set your desired background color */
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100; /* Ensure it appears above other elements */
  display: flex;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 calc(33.33% - 10px); /* Adjust the width as needed */
  padding: 3px 3px 3px 20px;
  font-size: 15px;
  cursor: pointer;
}

.grid-item:hover{
  background-color:rgb(233, 233, 233)
}

.swapLangBtn{
  /* float:right; 
  margin-right:-20px;
  font-weight: bold; */
}

.settings-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 200; /* Ensure it appears above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  min-width:600px;
  min-height:700px;
}

.card-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.selected {
  color:blueviolet!important;
  margin: 0px !important;
  border-bottom: 3px solid blueviolet!important;
  border-radius: 0px!important;
}

.gridSelected{
  color:blueviolet!important;
  background-color:rgb(245, 239, 248);
}

button {
  margin: 10px;
  width: 200px;
}

select,
input,
textarea {
  margin: 10px;
  width: 500px!important;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}